[submodule "M2-Planet"]
	path = M2-Planet
	url = https://github.com/oriansj/M2-Planet.git
[submodule "mescc-tools"]
	path = mescc-tools
	url = https://git.savannah.nongnu.org/git/mescc-tools.git
[submodule "mes-m2"]
	path = mes-m2
	url = https://github.com/oriansj/mes-m2.git
[submodule "bootstrap-seeds"]
	path = bootstrap-seeds
	url = https://github.com/oriansj/bootstrap-seeds
[submodule "M2libc"]
	path = M2libc
	url = https://github.com/oriansj/M2libc
[submodule "mescc-tools-extra"]
	path = mescc-tools-extra
	url = https://github.com/oriansj/mescc-tools-extra
